.side
  .side_top
    .side_top_name
      teruya_inomata
    .side_top_icon
      =link_to "#", class: "fas fa-pen-square" do
        %i.fas.fa-edit
      =link_to "#", class: "fas fa-cog" do
        %i.fas.fa-cog
  .side_bottom
    .side_bottom_title1
      ahh
    .side_bottom_text1